@font-face {
  font-family: "Belshaw Donut RobotRegular";
  font-style: normal;
  font-weight: normal;
  src: local("Belshaw Donut RobotRegular"),
    url("BelshawDonutRobot.woff") format("woff");
}

h1 {
  font-family: "Belshaw Donut RobotRegular";
  color: #ffffff;
}
